{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_javascript jquery='full' %}
<div class="col-md-6 col-lg-12">
<h1 style="text-align: center">Tasks List</h1>
<a  style="float: right" href="{% url 'logout' %}" class="btn btn-danger">Log Out</a>

<table class="table" >
    <thead>
      <tr>
        <th>Nº</th>
        <th>Task Name</th>
        <th>Creation Date</th>
        <th>Task Priority</th>
        <th>Author</th>
        <th>Done</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for task in task_list %}
        <tr>
            <td>{{task.id}}</td>
            <td>{{task.name}}</td>
            <td>{{task.created}}</td>
            <td>{{task.priority}}</td>
            <td>{{task.author}}</td>
            <td>{{task.done}}</td>
            <td>
                <a class="btn btn-success" href="{% url 'task-check' idEvent task.id %}">Done</a>
                <a class="btn btn-warning" href="{% url 'task-update' idEvent task.id %}">Update Task</a>
                <a class="btn btn-danger" href="{% url 'task-delete' idEvent task.id %}">Delete Task</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
<p>
    <a class="btn btn-primary" href="{% url 'task-create-event' idEvent %}">New Task</a>
    <a style="float: right;" class="btn btn-primary" href="{% url 'events-list' %}">Back to Events</a>
</p>
</div>