{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_javascript jquery='full' %}
<div class="col-md-6 col-lg-12">
<h1 style="text-align: center">Event Lists</h1>
<table class="table" >
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody>
        {% for event in events.events %}
        <tr>
            <td>{{event.name.text}}</td>
            <td>{{event.description.text}}</td>
            <td>{{event.start.local}}</td>
            <td>{{event.end.local}}</td>
            <td>
              <a class="btn btn-success" href="{% url 'task-list' %}">List Tasks</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>